{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "API Reference",
    "description": "TODO: Add a description",
    "license": {
      "name": "MIT",
      "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
    }
  },
  "host": "api.codecorps.org",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/token": {
      "post": {
        "description": "Exchange email and password for `token`.",
        "tags": [
          "Authentication"
        ],
        "operationId": "Exchange email and password for token",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExchangeEmailAndPasswordForTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/JsonWebTokenValidResponse"
            }
          },
          "401": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/token/refresh": {
      "post": {
        "description": "",
        "tags": [
          "Authentication"
        ],
        "operationId": "Refresh the token",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RefreshTheTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/JsonWebTokenValidResponse"
            }
          },
          "401": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/categories": {
      "get": {
        "description": "",
        "tags": [
          "Categories"
        ],
        "operationId": "List all categories",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CategoriesResponse"
            }
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/categories"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "List all categories1",
            "x-testDescription": "Testcase for testing endpoint List all categories"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "",
        "tags": [
          "Categories"
        ],
        "operationId": "Create a category",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CategoryResponse"
            }
          },
          "422": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "POST",
              "uri": "/categories"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Create a category1",
            "x-testDescription": "Testcase for testing endpoint Create a category"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/categories/{id}": {
      "get": {
        "description": "",
        "tags": [
          "Categories"
        ],
        "operationId": "Retrieve a category",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CategoryResponse"
            }
          },
          "404": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/categories/{id}"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Retrieve a category1",
            "x-testDescription": "Testcase for testing endpoint Retrieve a category"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "patch": {
        "description": "",
        "tags": [
          "Categories"
        ],
        "operationId": "Update a category",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CategoryResponse"
            }
          },
          "403": {
            "description": "",
            "schema": {}
          },
          "404": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "PATCH",
              "uri": "/categories/{id}"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Update a category1",
            "x-testDescription": "Testcase for testing endpoint Update a category"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/comments": {
      "get": {
        "description": "You can list all comments or retrieve individual comments, as well as create and update comments.",
        "tags": [
          "Comments"
        ],
        "operationId": "Filter comments by list of ids",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "filter_id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FilterCommentsByListOfIdsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CommentsResponse"
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "You can list all comments or retrieve individual comments, as well as create and update comments.",
        "tags": [
          "Comments"
        ],
        "operationId": "Create a comment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommentCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CommentResponse"
            }
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "403": {
            "description": "",
            "schema": {}
          },
          "422": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/comments/{id}": {
      "patch": {
        "description": "",
        "tags": [
          "Comments"
        ],
        "operationId": "Update a comment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommentUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CommentResponse"
            }
          },
          "403": {
            "description": "",
            "schema": {}
          },
          "422": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/donation-goals": {
      "get": {
        "description": "",
        "tags": [
          "Donation Goals"
        ],
        "operationId": "Filter by id",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "filter_id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FilterByIdRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DonationGoalsResponse"
            }
          },
          "404": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "To create a donation goal the user must be a site admin or the owner of the referenced project.",
        "tags": [
          "Donation Goals"
        ],
        "operationId": "Create a donation goal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DonationGoalCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DonationGoalResponse"
            }
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "403": {
            "description": "",
            "schema": {}
          },
          "404": {
            "description": "",
            "schema": {}
          },
          "422": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/donation-goals/{id}": {
      "get": {
        "description": "",
        "tags": [
          "Donation Goals"
        ],
        "operationId": "Retrieve a donation goal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DonationGoalResponse"
            }
          },
          "404": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "To delete a donation goal the user must be a site admin or the owner of the referenced project.",
        "tags": [
          "Donation Goals"
        ],
        "operationId": "Delete a donation goal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "403": {
            "description": "",
            "schema": {}
          },
          "404": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "patch": {
        "description": "To update a donation goal the user must be a site admin or the owner of the referenced project.",
        "tags": [
          "Donation Goals"
        ],
        "operationId": "Update a donation goal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DonationGoalUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DonationGoalResponse"
            }
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "403": {
            "description": "",
            "schema": {}
          },
          "404": {
            "description": "",
            "schema": {}
          },
          "422": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organization-memberships": {
      "get": {
        "description": "",
        "tags": [
          "Organization Memberships"
        ],
        "operationId": "Filter by id1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "filter_id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FilterByIdRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/OrganizationMembershipsResponse"
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "",
        "tags": [
          "Organization Memberships"
        ],
        "operationId": "Create an organization membership",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrganizationMembershipCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/OrganizationMembershipResponse"
            }
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "403": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{organization_id}/memberships": {
      "get": {
        "description": "",
        "tags": [
          "Organization Memberships"
        ],
        "operationId": "List all organization memberships for an organization",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double",
            "description": "Organization id, uniquely identifying a organization"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/OrganizationMembershipsResponse"
            }
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/organizations/1/memberships"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "List all organization memberships for an organization1",
            "x-testDescription": "Testcase for testing endpoint List all organization memberships for an organization"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organization-memberships/{id}": {
      "get": {
        "description": "",
        "tags": [
          "Organization Memberships"
        ],
        "operationId": "Retrieve an organization membership",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/OrganizationMembershipResponse"
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "",
        "tags": [
          "Organization Memberships"
        ],
        "operationId": "Delete an organization membership",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "403": {
            "description": "",
            "schema": {}
          },
          "404": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "patch": {
        "description": "",
        "tags": [
          "Organization Memberships"
        ],
        "operationId": "Update an organization membership",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrganizationMembershipUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/OrganizationMembershipResponse"
            }
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "403": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations": {
      "get": {
        "description": "",
        "tags": [
          "Organizations"
        ],
        "operationId": "Filter by id2",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "filter_id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FilterByIdRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/OrganizationsResponse"
            }
          },
          "400": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "",
        "tags": [
          "Organizations"
        ],
        "operationId": "Create an organization",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/OrganizationResponse"
            }
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "403": {
            "description": "",
            "schema": {}
          },
          "422": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "POST",
              "uri": "/organizations"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Create an organization1",
            "x-testDescription": "Testcase for testing endpoint Create an organization"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{id}": {
      "get": {
        "description": "",
        "tags": [
          "Organizations"
        ],
        "operationId": "Retrieve an organization",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/OrganizationResponse"
            }
          },
          "404": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "patch": {
        "description": "",
        "tags": [
          "Organizations"
        ],
        "operationId": "Update an organization",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrganizationResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/OrganizationResponse"
            }
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "403": {
            "description": "",
            "schema": {}
          },
          "422": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/previews": {
      "post": {
        "description": "",
        "tags": [
          "Previews"
        ],
        "operationId": "Create a preview",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PreviewCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PreviewResponse"
            }
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "403": {
            "description": "",
            "schema": {}
          },
          "422": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/project-categories": {
      "get": {
        "description": "",
        "tags": [
          "Project Categories"
        ],
        "operationId": "List all project categories",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProjectCategoriesResponse"
            }
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/project-categories"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "List all project categories1",
            "x-testDescription": "Testcase for testing endpoint List all project categories"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "",
        "tags": [
          "Project Categories"
        ],
        "operationId": "Create a project category",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectCategoryCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProjectCategoryResponse"
            }
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "422": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/project-categories/{id}": {
      "get": {
        "description": "",
        "tags": [
          "Project Categories"
        ],
        "operationId": "Retrieve a project category",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProjectCategoryResponse"
            }
          },
          "404": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "",
        "tags": [
          "Project Categories"
        ],
        "operationId": "Delete a project category",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "403": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/project-skills": {
      "get": {
        "description": "",
        "tags": [
          "Project Skills"
        ],
        "operationId": "List all project skills",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProjectSkillsResponse"
            }
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/project-skills"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "List all project skills1",
            "x-testDescription": "Testcase for testing endpoint List all project skills"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "",
        "tags": [
          "Project Skills"
        ],
        "operationId": "Create a project skill",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectSkillCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProjectSkillResponse"
            }
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "422": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/project-skills/{id}": {
      "get": {
        "description": "",
        "tags": [
          "Project Skills"
        ],
        "operationId": "Retrieve a project skill",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProjectSkillResponse"
            }
          },
          "404": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "",
        "tags": [
          "Project Skills"
        ],
        "operationId": "Delete a project skill",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "403": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/{slug}/projects": {
      "get": {
        "description": "",
        "tags": [
          "Projects"
        ],
        "operationId": "Retrieve all projects for organization specified by slug",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProjectsResponse"
            }
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/{slug}/projects"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Retrieve all projects for organization specified by slug1",
            "x-testDescription": "Testcase for testing endpoint Retrieve all projects for organization specified by slug"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/{slug}/{project_slug}": {
      "get": {
        "description": "",
        "tags": [
          "Projects"
        ],
        "operationId": "Retrieve a project by slug",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "project_slug",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProjectResponse"
            }
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/{slug}/{project_slug}"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Retrieve a project by slug1",
            "x-testDescription": "Testcase for testing endpoint Retrieve a project by slug"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/projects": {
      "get": {
        "description": "",
        "tags": [
          "Projects"
        ],
        "operationId": "List all projects",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProjectsResponse"
            }
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/projects"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "List all projects1",
            "x-testDescription": "Testcase for testing endpoint List all projects"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "",
        "tags": [
          "Projects"
        ],
        "operationId": "Create a project",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProjectResponse"
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/projects/{id}": {
      "get": {
        "description": "",
        "tags": [
          "Projects"
        ],
        "operationId": "Retrieve a project",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProjectResponse"
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "patch": {
        "description": "",
        "tags": [
          "Projects"
        ],
        "operationId": "Update a project",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProjectResponse"
            }
          },
          "403": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/roles": {
      "get": {
        "description": "",
        "tags": [
          "Roles"
        ],
        "operationId": "List all roles",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RolesResponse"
            }
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/roles"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "List all roles1",
            "x-testDescription": "Testcase for testing endpoint List all roles"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "",
        "tags": [
          "Roles"
        ],
        "operationId": "Create a role",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RoleResponse"
            }
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "403": {
            "description": "",
            "schema": {}
          },
          "422": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "POST",
              "uri": "/roles"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Create a role1",
            "x-testDescription": "Testcase for testing endpoint Create a role"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/roles/{id}": {
      "get": {
        "description": "",
        "tags": [
          "Roles"
        ],
        "operationId": "Retrieve a role",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RoleResponse"
            }
          },
          "404": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/role-skills": {
      "get": {
        "description": "",
        "tags": [
          "Role Skills"
        ],
        "operationId": "List all role skills",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RoleSkillsResponse"
            }
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/role-skills"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "List all role skills1",
            "x-testDescription": "Testcase for testing endpoint List all role skills"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "",
        "tags": [
          "Role Skills"
        ],
        "operationId": "Create a role skill",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RoleSkillResponse"
            }
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "403": {
            "description": "",
            "schema": {}
          },
          "422": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "POST",
              "uri": "/role-skills"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Create a role skill1",
            "x-testDescription": "Testcase for testing endpoint Create a role skill"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/role-skills/{id}": {
      "get": {
        "description": "",
        "tags": [
          "Role Skills"
        ],
        "operationId": "Retrieve a role skill",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RoleSkillResponse"
            }
          },
          "404": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "",
        "tags": [
          "Role Skills"
        ],
        "operationId": "Delete a role skill",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "403": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/skills": {
      "get": {
        "description": "Skills can be queried by a substring of the name of the skill. This should be a string with one or more letters of the name of the skill requested.\nFor example, if we wanted to return skills like \"Java\" and \"JavaScript\", we may query with the substring \"jav\". A good use for this API would be a skill typeahead input.",
        "tags": [
          "Skills"
        ],
        "operationId": "Autocomplete skill with query",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Text query to filter returned skills"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SkillsResponse"
            }
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/skills?query=jav"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Autocomplete skill with query1",
            "x-testDescription": "Skills can be queried by a substring of the name of the skill. This should be a string with one or more letters of the name of the skill requested.\nFor example, if we wanted to return skills like \"Java\" and \"JavaScript\", we may query with the substring \"jav\". A good use for this API would be a skill typeahead input."
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "",
        "tags": [
          "Skills"
        ],
        "operationId": "Create a skill",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SkillResponse"
            }
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "403": {
            "description": "",
            "schema": {}
          },
          "422": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "POST",
              "uri": "/skills"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Create a skill1",
            "x-testDescription": "Testcase for testing endpoint Create a skill"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/skills/{id}": {
      "get": {
        "description": "",
        "tags": [
          "Skills"
        ],
        "operationId": "Retrieve a skill",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SkillResponse"
            }
          },
          "404": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/:slug": {
      "get": {
        "description": "This endpoint will return one of two possible responses, depending on if the slugged route's owner is a user or an organization. If the slugged route is owned by a user, the responses's owner relationship will have a user relationship and a nil organization relationship. If it's owned by an organization, it will have an organization relationship and a nil user relationship.",
        "tags": [
          "Slugged Routes"
        ],
        "operationId": "Retrieve a slugged route",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SluggedRouteUserResponse"
            }
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/:slug"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Retrieve a slugged route1",
            "x-testDescription": "This endpoint will return one of two possible responses, depending on if the slugged route's owner is a user or an organization. If the slugged route is owned by a user, the responses's owner relationship will have a user relationship and a nil organization relationship. If it's owned by an organization, it will have an organization relationship and a nil user relationship."
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/stripe-connect-accounts": {
      "post": {
        "description": "",
        "tags": [
          "Stripe Connect Accounts"
        ],
        "operationId": "Create a Stripe Connect account",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/StripeConnectAccountResponse"
            }
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "403": {
            "description": "",
            "schema": {}
          },
          "422": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "POST",
              "uri": "/stripe-connect-accounts"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Create a Stripe Connect account1",
            "x-testDescription": "Testcase for testing endpoint Create a Stripe Connect account"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/stripe-connect-accounts/{id}": {
      "get": {
        "description": "",
        "tags": [
          "Stripe Connect Accounts"
        ],
        "operationId": "Retrieve a Stripe Connect account",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/StripeConnectAccountResponse"
            }
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "403": {
            "description": "",
            "schema": {}
          },
          "404": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/stripe-connect-accounts/{id}"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Retrieve a Stripe Connect account1",
            "x-testDescription": "Testcase for testing endpoint Retrieve a Stripe Connect account"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/stripe-platform-cards": {
      "post": {
        "description": "",
        "tags": [
          "Stripe Platform Card"
        ],
        "operationId": "Create a Stripe platform card",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/StripePlatformCardResponse"
            }
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "403": {
            "description": "",
            "schema": {}
          },
          "422": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "POST",
              "uri": "/stripe-platform-cards"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Create a Stripe platform card1",
            "x-testDescription": "Testcase for testing endpoint Create a Stripe platform card"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/stripe-platform-cards/{id}": {
      "get": {
        "description": "",
        "tags": [
          "Stripe Platform Card"
        ],
        "operationId": "Retrieve a Stripe platform card",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/StripePlatformCardResponse"
            }
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "403": {
            "description": "",
            "schema": {}
          },
          "404": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/stripe-platform-customers": {
      "post": {
        "description": "",
        "tags": [
          "Stripe Platform Customers"
        ],
        "operationId": "Create a Stripe platform customer",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/StripePlatformCustomerResponse"
            }
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "403": {
            "description": "",
            "schema": {}
          },
          "422": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "POST",
              "uri": "/stripe-platform-customers"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Create a Stripe platform customer1",
            "x-testDescription": "Testcase for testing endpoint Create a Stripe platform customer"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/stripe-platform-customers/{id}": {
      "get": {
        "description": "",
        "tags": [
          "Stripe Platform Customers"
        ],
        "operationId": "Retrieve a Stripe platform customer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/StripePlatformCustomerResponse"
            }
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "403": {
            "description": "",
            "schema": {}
          },
          "404": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/stripe-platform-customers/{id}"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Retrieve a Stripe platform customer1",
            "x-testDescription": "Testcase for testing endpoint Retrieve a Stripe platform customer"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/stripe-connect-plans": {
      "post": {
        "description": "",
        "tags": [
          "Stripe Connect Plans"
        ],
        "operationId": "Create a Stripe Connect plan",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/StripeConnectPlanResponse"
            }
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "403": {
            "description": "",
            "schema": {}
          },
          "422": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "POST",
              "uri": "/stripe-connect-plans"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Create a Stripe Connect plan1",
            "x-testDescription": "Testcase for testing endpoint Create a Stripe Connect plan"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/stripe-connect-plans/{id}": {
      "get": {
        "description": "",
        "tags": [
          "Stripe Connect Plans"
        ],
        "operationId": "Retrieve a Stripe Connect plan",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/StripeConnectPlanResponse"
            }
          },
          "404": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/stripe-connect-plans/{id}"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Retrieve a Stripe Connect plan1",
            "x-testDescription": "Testcase for testing endpoint Retrieve a Stripe Connect plan"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/stripe-connect-subscriptions": {
      "post": {
        "description": "",
        "tags": [
          "Stripe Connect Subscriptions"
        ],
        "operationId": "Create a Stripe Connect subscription",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/StripeConnectSubscriptionResponse"
            }
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "403": {
            "description": "",
            "schema": {}
          },
          "422": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "POST",
              "uri": "/stripe-connect-subscriptions"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Create a Stripe Connect subscription1",
            "x-testDescription": "Testcase for testing endpoint Create a Stripe Connect subscription"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/stripe-connect-subscriptions/{id}": {
      "get": {
        "description": "",
        "tags": [
          "Stripe Connect Subscriptions"
        ],
        "operationId": "Retrieve a Stripe Connect subscription",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/StripeConnectSubscriptionResponse"
            }
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "403": {
            "description": "",
            "schema": {}
          },
          "404": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/subscriptions/{id}": {
      "patch": {
        "description": "",
        "tags": [
          "Stripe Connect Subscriptions"
        ],
        "operationId": "Update a Stripe Connect subscription",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/StripeConnectSubscriptionResponse"
            }
          },
          "403": {
            "description": "",
            "schema": {}
          },
          "404": {
            "description": "",
            "schema": {}
          },
          "422": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/projects/{project_id}/tasks": {
      "get": {
        "description": "You can list all tasks or retrieve individual tasks for a single project.",
        "tags": [
          "Tasks"
        ],
        "operationId": "List all of a project's tasks",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double",
            "description": "Id of a project."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TasksResponse"
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/projects/{project_id}/tasks/{number}": {
      "get": {
        "description": "The `number` parameter in this endpoint is notably different from the usual `id`. Because the front-end Ember application loads a URL with the task's `number` (scoped to the project) for human readability, we don't actually know the `id`. The request is made with the `number` instead.\nThis allows us to have a logical numbering scheme for the project rather than extremely long `id`s.",
        "tags": [
          "Tasks"
        ],
        "operationId": "Retrieve a project's task",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double",
            "description": "Id of a project."
          },
          {
            "name": "number",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double",
            "description": "The `number` of a task."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TaskResponse"
            }
          },
          "404": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/tasks": {
      "get": {
        "description": "",
        "tags": [
          "Tasks"
        ],
        "operationId": "List all tasks",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TasksResponse"
            }
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/tasks"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "List all tasks1",
            "x-testDescription": "Testcase for testing endpoint List all tasks"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "",
        "tags": [
          "Tasks"
        ],
        "operationId": "Create a task",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TaskResponse"
            }
          },
          "422": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "POST",
              "uri": "/tasks"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Create a task1",
            "x-testDescription": "Testcase for testing endpoint Create a task"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/tasks/{id}": {
      "get": {
        "description": "",
        "tags": [
          "Tasks"
        ],
        "operationId": "Retrieve a task",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TaskResponse"
            }
          },
          "404": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "patch": {
        "description": "",
        "tags": [
          "Tasks"
        ],
        "operationId": "Update a task",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TaskResponse"
            }
          },
          "403": {
            "description": "",
            "schema": {}
          },
          "404": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/user-categories": {
      "get": {
        "description": "",
        "tags": [
          "User Categories"
        ],
        "operationId": "Filter by id4",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "filter_id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FilterByIdRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserCategoriesResponse"
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "",
        "tags": [
          "User Categories"
        ],
        "operationId": "Create a user category",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAUserCategoryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserCategoryResponse"
            }
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "422": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/user-categories/{id}": {
      "get": {
        "description": "",
        "tags": [
          "User Categories"
        ],
        "operationId": "Retrieve a user category",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserCategoryResponse"
            }
          },
          "404": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "",
        "tags": [
          "User Categories"
        ],
        "operationId": "Delete a user category",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "403": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/user-roles": {
      "get": {
        "description": "",
        "tags": [
          "User Roles"
        ],
        "operationId": "List all user roles",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserRolesResponse"
            }
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/user-roles"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "List all user roles1",
            "x-testDescription": "Testcase for testing endpoint List all user roles"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "",
        "tags": [
          "User Roles"
        ],
        "operationId": "Create a user role",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserRoleResponse"
            }
          },
          "422": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "POST",
              "uri": "/user-roles"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/vnd.api+json; charset=utf-8"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Create a user role1",
            "x-testDescription": "Testcase for testing endpoint Create a user role"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/user-roles/{id}": {
      "get": {
        "description": "",
        "tags": [
          "User Roles"
        ],
        "operationId": "Retrieve a user role",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserRoleResponse"
            }
          },
          "404": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "",
        "tags": [
          "User Roles"
        ],
        "operationId": "Delete a user role",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "401": {
            "description": "",
            "schema": {}
          },
          "403": {
            "description": "",
            "schema": {}
          },
          "404": {
            "description": "",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/user-skills": {
      "get": {
        "description": "",
        "tags": [
          "User Skills"
        ],
        "operationId": "Filter by id5",
[...]
