/* Base ------------------------------ */

*:not(br):not(tr):not(html) {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  width: 100% !important;
  height: 100%;
  margin: 0;
  line-height: 1.4;
  color: #333;
  -webkit-text-size-adjust: none;
}

p,
ul,
ol,
blockquote {
  line-height: 1.4;
  text-align: left;
}

a {
  color: #08A8FC;
  text-decoration: none;
}

a img {
  border: none;
}

td {
  word-break: break-word;
}
/* Layout ------------------------------ */

.email-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  -premailer-width: 100%;
  -premailer-cellpadding: 0;
  -premailer-cellspacing: 0;
}

.email-content {
  width: 100%;
  margin: 0;
  padding: 0;
  -premailer-width: 100%;
  -premailer-cellpadding: 0;
  -premailer-cellspacing: 0;
}

/* Masthead ----------------------- */

.email-masthead_inner {
  padding: 10px 0;
  text-align: center;
}

.email-masthead_logo {
  width: 161px;
  height: 35px;
}

/* Body ------------------------------ */

.email-body {
  width: 100%;
  margin: 0;
  padding: 0;
  -premailer-width: 100%;
  -premailer-cellpadding: 0;
  -premailer-cellspacing: 0;
  background-color: #FFFFFF;
}

.email-body_inner {
  width: 570px;
  margin: 0 auto;
  padding: 0;
  border-top: 2px solid #08A8FC;
  border-right: 2px solid #EEE;
  border-bottom: 2px solid #EEE;
  border-left: 2px solid #EEE;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -premailer-width: 570px;
  -premailer-cellpadding: 0;
  -premailer-cellspacing: 0;
  background-color: #FFFFFF;
}

.email-footer {
  width: 570px;
  margin: 0 auto;
  padding: 0;
  -premailer-width: 570px;
  -premailer-cellpadding: 0;
  -premailer-cellspacing: 0;
  text-align: center;
}

.email-footer p {
  color: #AEAEAE;
}

.body-action {
  width: 100%;
  margin: 30px auto;
  padding: 0;
  -premailer-width: 100%;
  -premailer-cellpadding: 0;
  -premailer-cellspacing: 0;
  text-align: center;
}

.body-signature {
  width: 100%;
  padding: 0;
  -premailer-width: 100%;
  -premailer-cellpadding: 0;
  -premailer-cellspacing: 0;
}

.body-sub {
  width: 100%;
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px solid #EDEFF2;
}

.content-cell {
  padding: 35px;
}

.preheader {
  display: none !important;
}
/* Attribute list ------------------------------ */

.attributes {
  margin: 0 0 21px;
}

.attributes_content {
  background-color: #EDEFF2;
  padding: 16px;
}

.attributes_item {
  padding: 0;
}
/* Related Items ------------------------------ */

.related {
  width: 100%;
  margin: 0;
  padding: 25px 0 0 0;
  -premailer-width: 100%;
  -premailer-cellpadding: 0;
  -premailer-cellspacing: 0;
}

.related_item {
  padding: 10px 0;
  color: #333;
  font-size: 15px;
  line-height: 18px;
}

.related_item-title {
  display: block;
  margin: .5em 0 0;
}

.related_item-thumb {
  display: block;
  padding-bottom: 10px;
}

.related_heading {
  border-top: 1px solid #EDEFF2;
  text-align: center;
  padding: 25px 0 10px;
}

/* Social Icons ------------------------------ */

.social {
  width: auto;
}

.social td {
  padding: 0;
  width: auto;
}

.social_icon {
  height: 20px;
  margin: 0 8px 10px 8px;
  padding: 0;
}
/* Donation -------------------------------- */

.donation_image {
  margin-bottom: 30px
}

.donation_text {
  margin-bottom: 30px;
}

.donation_goal_header {
  border-top: 1px solid #EEE;
  padding: 20px 10px 0px 10px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
}

.donation_goal_footer {
  font-size: 14px;
  border-bottom: 1px solid #EEE;
  padding: 0px 10px 20px 10px;
  text-align: center;
}

/* Project joining -------------------------------- */

.joined_images {
  height: 70px;
  margin: 0 0 30px 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.joined_images li {
  display: inline-block;
}

.joined_images li.icon {
  margin: 0 5px;
  width: 25px;
}

.joined_images li.photo {
  width: 70px;
}

.joined_images li.photo img {
  border-radius: 4px;
}

.joined_images li:first-child {
  /*margin-left: 300px;*/
}

/* Data table ------------------------------ */

.purchase {
  width: 100%;
  margin: 0;
  padding: 35px 0;
  -premailer-width: 100%;
  -premailer-cellpadding: 0;
  -premailer-cellspacing: 0;
}

.charge_content {
  font-size: 14px;
  width: 100%;
  margin: 0;
  padding: 25px 0 0 0;
  -premailer-width: 100%;
  -premailer-cellpadding: 0;
  -premailer-cellspacing: 0;
}

.charge_item {
  padding: 10px 0;
  color: #333;
  font-size: 14px;
  line-height: 18px;
}

.charge_heading {
  padding-bottom: 8px;
  border-bottom: 1px solid #EDEFF2;
}

.charge_heading p {
  margin: 0;
  color: #9BA2AB;
  font-size: 12px;
}

.charge_footer {
  padding-top: 15px;
  border-top: 1px solid #EDEFF2;
}

.charge_total {
  margin: 0;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  color: #2F3133;
}

.charge_total--label {
  padding: 0 15px 0 0;
  font-size: 12px;
  line-height: 18px;
}
/* Utilities ------------------------------ */

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}
/*Media Queries ------------------------------ */

@media only screen and (max-width: 600px) {
  .email-body_inner,
  .email-footer {
    width: 100% !important;
  }
}

@media only screen and (max-width: 500px) {
  .button {
    width: 100% !important;
  }
}
/* Buttons ------------------------------ */

.button {
  background-color: #08A8FC;
  border-top: 10px solid #08A8FC;
  border-right: 18px solid #08A8FC;
  border-bottom: 10px solid #08A8FC;
  border-left: 18px solid #08A8FC;
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
  -webkit-text-size-adjust: none;
}

/* Type ------------------------------ */

h1 {
  margin-top: 0;
  color: #2F3133;
  font-size: 19px;
  font-weight: bold;
  text-align: left;
}

h2 {
  margin-top: 0;
  color: #2F3133;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

h3 {
  margin-top: 0;
  color: #2F3133;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

p {
  margin-top: 0;
  color: #333;
  font-size: 16px;
  line-height: 1.5em;
  text-align: left;
}

p.small {
  font-size: 14px;
}

p.sub {
  color: #666;
  font-size: 12px;
}

p.center {
  text-align: center;
}
